 <input type="text" name="num2" id="num2" ng-model="num2" placeholder="Enter Mobile Number"><br>
 <input type="number" name="num1" id="num1" ng-model="num1" placeholder="Enter purchase Amount"><br>
 <input type="text" name="num3" id="num3" ng-model="num3" placeholder="Enter y or n"><br>

<button ng-click="counter()">Bill</button><br>
<h3>{{num1}}</h3><br>
<h3>{{output1}}</h3><br>
<h3>{{output4}}</h3><br>

 <script>
        var app=angular.module("counterApp",[]);
        app.controller("counterController",function($scope){
                   $scope.num1=0;
                   $scope.output1=0;
                    $scope.output2=0;
                     $scope.output3=0;
                     $scope.output4=0;
                   $scope.counter=function(){
                    output=0;
                   if($scope.num1<=10000){
                        output=($scope.num1*10)/100;
                         $scope.output1=output;                 
                         $scope.output2=$scope.num1 - $scope.output1;  
                         
                         if($scope.num3=='y'){
                             $scope.output3=($scope.num1*15)/100;           
                             $scope.output1 = $scope.output3;                
                              }
                         $scope.output4 = $scope.num1 - $scope.output1; 
                              
                   }
                   else if($scope.num1>=10000 && $scope.num1<=20000){
                        output=($scope.num1*20)/100
                         $scope.output1=output;
                         $scope.output2=$scope.num1-$scope.output1;

                         if($scope.num3=='y'){
                             $scope.output3=($scope.num1*25)/100;          
                             $scope.output1 = $scope.output3;                
                              }
                         $scope.output4 = $scope.num1 - $scope.output1; 

                                                 
                   } 
                   else if($scope.num1>20000 && $scope.num1>=30000){
                        output=($scope.num1*30)/100
                         $scope.output1=output;
                         $scope.output2=$scope.num1-$scope.output1;

                         if($scope.num3=='y'){
                             $scope.output3=($scope.num1*35)/100;          
                             $scope.output1 = $scope.output3;                
                              }
                         $scope.output4 = $scope.num1 - $scope.output1; 

                                                 
                   } 
                    

                  return $scope.output1;                  
           
            };
        });